$root:              root;
$application:       application;
$layoutHmmf:        layout-hmmf;
$header:            header;
$menu:              menu;
$main:              main;
$footer:            footer;
$resizableSlidable: resizable-slidable;
$notesNavigator:    notes-navigator;
$notesExplorer:     notes-explorer;
$navigatorTree:     navigator-tree;
$navigatorItem:     navigator-item;
$note:              note;

:export {
  root:              $root;
  application:       $application;
  layoutHmmf:        $layoutHmmf;
  header:            $header;
  menu:              $menu;
  main:              $main;
  footer:            $footer;
  resizableSlidable: $resizableSlidable;
  notesNavigator:    $notesNavigator;
  notesExplorer:     $notesExplorer;
  navigatorTree:     $navigatorTree;
  navigatorItem:     $navigatorItem;
  note:              $note;
}
